/* Category.module.css */
.headingCategory{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.categoryContainer {
    border: 1px solid #ddd; 
    width: 60vw;
    margin: 30px auto;
   
    font-family: Arial, sans-serif;
    
  }
  .chooseCategory{
    width: 100%;
    margin-left: 10px;
  }
  .categoryList {
    width: 200px; /* Fixed width for category list */
   
    border-right: 1px solid #ddd; /* Divider line */
  }
  
  .categoryItem {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.2s; /* Smooth transition */
  }
  
  .categoryItem:hover {
    background-color:#ddd;

  }
  
  .categoryName {
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    color: grey;
    font-size: medium;
  }
  
  .activeCategory {
    background-color: #ddd;
    font-weight: bold; /* Bold text for active */
  }

  .subCategoryContainer {
    flex-grow: 1; /* Allow this section to take the remaining space */
    
    border: 1px solid #ddd; /* Border around the subcategory section */
    border-radius: 4px; /* Rounded corners */
  }
  
  .subCategoryList {
    margin: 0;
    padding-left: 0; /* Indent subcategories */
  }
  
  .subCategoryItem {
    margin: 5px 0;
  }
  