.centerDiv {
  border: 1px solid #ddd;
  width: 360px;
  padding: 30px 40px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.formMainTitle{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #002f34;
  text-align: center;
}
.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #002f34;
}
.category{
  color: gray;
  font-size: 15px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #002f34;
  outline: none;
}

.fileInput {
  margin-top: 10px;
  font-size: 14px;
}

.uploadBtn {
  width: 100%;
  height: 48px;
  background-color: #002f34;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}
.imageContainer {
  display: flex;
  gap: 10px;
}

.imageBox {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
